body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
  }
  
  header {
    background-color: darkblue;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }

  p{
      font-size: 20px;
      font-weight: bold;
  }